/How_to_Win_a_Data_Science_Competition/code/.ipynb_checkpoints
/How_to_Win_a_Data_Science_Competition/data/submissions
/How_to_Win_a_Data_Science_Competition/data/final_data.csv
/How_to_Win_a_Data_Science_Competition/venv
/How_to_Win_a_Data_Science_Competition/models

